    body {
        padding-top: 80px;
        text-align: center;
        font-family: "Lucida Sans Unicode";
        font-size: 16px;
        background-color: #FFE59E;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
      }
li {
    display: inline;
    list-style-type: none;
}
li:not(:first-child)::before {
    content: "♥ ";
}
      h1 {
        color: #003399;
      }
      span {
        background: #FF99FF;
        font-family: monaco, monospace;
      }
      img:hover {
        border: 5px dotted #9317FF;
      }

#regenbogen {

border:none; width: 100%; display: block; max-width: 100%;  overflow: hidden;  margin-left: auto; margin-right: auto;

background-size: contain;

 
  background-image: url("wave.png");
  background-repeat: repeat-x;
  
   padding-top: 10%;

}

      footer {
        margin: 40px
      }
