    body {
        padding-top: 80px;
        text-align: center;
        font-family: "Lucida Sans Unicode";
        font-size: 16px;
        background-color: #FFE59E;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
      }
#crumbs {
  text-align: right;
}

  #crumbs ul {
    list-style: none;
    display: inline-table;
  }
    #crumbs ul li {
      display: inline;
    }
  
    #crumbs ul li a {
      display: block;
      float: left;
      height: 20px;
      background: #FFB870;
      text-align: center;
      padding: 30px 40px 0 80px;
      position: relative;
      margin: 0 10px 0 0; 
      
      font-size: 20px;
      text-decoration: none;
      color: #FF957A;
    }
      #crumbs ul li a:after {
        content: "";  
        border-top: 40px solid transparent;
         border-bottom: 40px solid transparent;
          border-left: 40px solid #3498db;
        position: absolute; right: -40px; top: 0;
        z-index: 1;
      }
      
      #crumbs ul li a:before {
        content: "";  
        border-top: 40px solid transparent;
          border-bottom: 40px solid transparent;
          border-left: 40px solid #d4f2ff;
        position: absolute; left: 0; top: 0;
      }
  
        #crumbs ul li:first-child a {
          border-top-left-radius: 10px; border-bottom-left-radius: 10px;
        }
        #crumbs ul li:first-child a:before {
          display: none; 
        }
        
        #crumbs ul li:last-child a {
          padding-right: 80px;
          border-top-right-radius: 10px; border-bottom-right-radius: 10px;
        }
        #crumbs ul li:last-child a:after {
          display: none; 
        }
      
      #crumbs ul li a:hover {
        background: #fa5ba5;
      }
        #crumbs ul li a:hover:after {
          border-left-color: #fa5ba5;
        }  

      h1 {
        color: #003399;
      }
      span {
        background: #FF99FF;
        font-family: monaco, monospace;
      }
      img:hover {
        border: 5px dotted #9317FF;
      }
      footer {
        margin: 40px
      }
